<div>
    <div>
        <h2>
            {{title}}
        </h2>
        <p>{{contents}}</p>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
    </div>
    <div>
        <form class="add-comment-form">
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            <button type="submit" data-id="{{id}}" class="btn btn-primary comment-btn">Submit</button>
        </form>
    </div>
    {{#if comments.length}}
    {{#each comments as |comment| }}
    <div>
        <div>
            <h4>
                Comment:
            </h4>
            <p>{{comment.comment}}</p>
            <p>Created by {{comment.user.name}} on {{ format_date comment.date_created}}</p>


        </div>
    </div>
    {{/each}}
    {{/if}}
</div>
<script src="./js/addComment.js"></script>